@import "variables";
* {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: $white;
  background: rgb(218,216,70);
  background: linear-gradient(90deg, rgba(218,216,70,0.8077004483433998) 0%, rgba(182,194,57,1) 33%, rgba(0,255,63,1) 100%);
}

a {
  font-size: inherit;
  line-height: inherit;
  color: inherit ;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3%;
}

